body[dir="rtl"]{
	&.cl-app-notifications{
		div.notifications{
			div.notifications-list{
				div.notifications-list__item{
					div.notifications-list__item-data{
		 				padding-left: 0px;
		 				padding-right: var(--cl-primary-offset-size);

		 				div.notifications-data{
		 					div.notifications-data__body{
		 						margin-right: 0px;
		 						margin-left: var(--cl-primary-offset-size);
		 					}

		 					div.notifications-data__ctrls{
		 						div.notif-ctrls{
		 							div.notif-ctrls__delete{
		 								margin-right: 0px;
		 								margin-left: 20px;
		 							}
		 						}
		 					}
		 				}

		 				&:hover, &:active{
							div.notifications-data{
								div.notifications-data__ctrls{
									div.notif-ctrls{
										div.notif-ctrls__delete{
											visibility: visible;
										}
									}
								}
							}
						}
					}
				}
			}
		}
	}
}