button.btn-custom, div.btn-custom{
	border-radius: 5em;
	font-weight: 600;
	line-height: 1;

	&.main-inline{
		color: #ffffff;
		background-color: #14171a;
		border: 1px solid #14171a;
		outline: 0;

		&:not([disabled]){
			&:hover,&:active,&:focus{
				background: lighten(#14171a, 10);
			}
		}
	}

	&.main-black{
		color: #ffffff;
		background-color: #14171a;
		border: 1px solid #14171a;
		outline: 0;

		&:not([disabled]){
			&:hover,&:active,&:focus{
				background: lighten(#14171a, 10);
			}
		}
	}

	&.main-gray{
		color: var(--cl-primary-text-color);
		background-color: #F0F2F5;
		border: 1px solid #F0F2F5;
		outline: 0;

		&:not([disabled]){
			&:hover,&:active,&:focus{
				background: darken(#F0F2F5, 5);
			}
		}
	}

	&.main-green{
		color: #ffffff;
		background-color: #2fbf63;
		border: none;
		outline: 0;

		&:not([disabled]){
			&:hover,&:active,&:focus{
				background-color: darken(#2fbf63, 5);
			}
		}
	}

	&.main-outline{
		color: var(--cl-primary-text-color);
		background: transparent;
		box-shadow: none;
		border: 1px solid var(--cl-primary-text-color);
		outline: 0;
		
		&:not([disabled]){
			&:hover,&:active,&:focus{
				background-color: var(--cl-secondary-bg-color);
			}
		}
	}

	&.lg{
		padding: 12px 35px;
		font-size: 13px;
		line-height: 1;
	}

	&.md{
		padding: 10px 24px;
		font-size: 13px;
	}

	&.sm{
		padding: 8px 15px;
		font-size: 11px;
	}

	&.main-red{
		color: #ffffff;
		background: var(--cl-danger-color);
		border: 1px solid var(--cl-danger-color);
		outline: 0;
	}

	&.main-grey{
		color: var(--cl-secondary-text-color);
		background-color: var(--cl-secondary-bg-color);
		box-shadow: none;
		border: 1px solid var(--cl-secondary-bg-color);
		outline: 0;
	}

	&.btn-block{
		width: 100%;
	}

	&:hover, &:active, &:focus{
		box-shadow: none;
	}

	@include media-breakpoint-down(xl) {
		&.md, &.lg{
			padding: 12px 12px;
			font-size: 11px;
		}

		&.sm{
			padding: 6px 10px;
			font-size: 10px;
		}
	}
}

button.btn-custom-icon, div.btn-custom-icon{
	width: 40px;
	height: 40px;
	border: none;
	background: transparent;
	padding: 0px;
	margin: 0px;
	border-radius: 100%;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	outline: 0;
	cursor: pointer;
	line-height: 1;

	svg{
		width: 22px;
		height: 22px;
		
		path{
			fill: var(--cl-secondary-text-color);
		}
	}

	&:hover, &:active, &:focus{
		background: var(--cl-secondary-bg-color);

		svg{
			path{
				fill: var(--cl-secondary-text-color);
			}
		}
	}

	&.col-red{
		&:hover, &:active, &:focus{
			svg path{
				fill: var(--cl-danger-color);
			}
		}
	}
}
