body.cl-app-wallet{
	div.account-wallet{
		div.account-wallet__status{
			padding: var(--cl-primary-offset-size);
			
			div.account-wallet__card{
				border-radius: var(--cl-secondary-border-radius);
				border: 1px solid var(--cl-secondary-border-color);

				@include media-breakpoint-down(xl) {
					padding-top: 20px;
				}

				div.account-wallet__card-title{
					padding: 15px 20px;
					font-size: 16px;
					color: var(--cl-primary-text-color);
					font-weight: 500;
					text-transform: uppercase;
				}

				div.wallet-balance{
					width: 100%;
					display: flex;
					flex-direction: row;
					flex-wrap: nowrap;
					overflow: hidden;
					align-items: center;
					position: relative;
					padding: 20px;

					@include media-breakpoint-down(xl) {
						padding: 20px;
					}

					&::before{
						position: absolute;
						width: 100%;
						height: 100%;
						background: var(--cl-primary-color);
						opacity: 0.08;
						content: "";
						left: 0px;
						top: 0px;
					}
					
					div.wallet-balance__icon{
						z-index: 5;

						svg{
							width: 42px;
							height: 42px;
							opacity: 0.8;

							@include media-breakpoint-down(xl) {
								width: 35px;
								height: 35px;
							}

							path{
								fill: var(--cl-primary-color);
							}
						}
					}

					div.wallet-balance__amount{
						flex: 1;
						overflow: hidden;
						padding-right: var(--cl-primary-offset-size);
						z-index: 5;

						span{
							display: block;
							width: 100%;
							line-height: 1;
							overflow: hidden;
							text-overflow: ellipsis;
							white-space: nowrap;
							max-width: 100%;
							letter-spacing: -0.04em;

							&:first-child{
								font-size: 42px;
								margin-bottom: 5px;
								font-weight: 500;
								color: var(--cl-primary-text-color);
								font-family: sans-serif;
							}

							&:last-child{
								font-size: 14px;
								color: var(--cl-secondary-text-color);
							}

							@include media-breakpoint-down(xl) {
								&:first-child{
									font-size: 36px;
								}
							}
						} 
					}
				}

				div.wallet-footer{
					padding: var(--cl-primary-offset-size) 20px;
					padding-bottom: 20px;

					div.wallet-footer__text{
						font-size: 14px;
						line-height: 1.4;
						color: var(--cl-secondary-text-color);
						margin-bottom: 25px;
						max-width: 80%;
					}

					div.wallet-footer__ctrls{
						display: flex;
						flex-direction: row;


						a.wallet-footer__ctrls-item{
							text-decoration: none;

							&:first-child{
								margin-right: var(--cl-primary-offset-size);
							}
						}
					}

					@include media-breakpoint-down(xl) {
						padding-left: 20px;
						padding-right: 20px;
					}
				}
			}

			div.account-wallet__withdrawal{
				padding: 10px 0px;

				a{
					text-decoration: none;
					color: var(--cl-secondary-text-color);
					text-transform: uppercase;
					font-size: 12px;
					display: block;
					font-weight: 500;

					&:hover{
						text-decoration: underline;
					}
				}
			}
		}

		div.account-wallet__history{
			div.account-wallet__history-topline{
				overflow: hidden;
				padding: var(--cl-primary-offset-size);
				background: var(--cl-secondary-bg-color);
				border-top: 1px solid var(--cl-primary-border-color);
				border-bottom: 1px solid var(--cl-primary-border-color);

				h4{
					font-size: 13px;
					color: var(--cl-primary-text-color);
					padding: 0;
					margin: 0;
					font-weight: 500;
					text-transform: uppercase;
				}
			}

			div.wallet-transactions{
				div.wallet-transactions__item{
					overflow: hidden;
					display: flex;
					flex-direction: row;
					flex-wrap: nowrap;
					padding: var(--cl-primary-offset-size);
					border-bottom: 1px solid var(--cl-primary-border-color);

					div.lp{
						width: var(--cl-primary-avatar-size);
						flex-shrink: 0;

						div.lp__icon{
							width: var(--cl-primary-avatar-size);
							height: var(--cl-primary-avatar-size);
							overflow: hidden;
							background: var(--cl-secondary-bg-color);
							border-radius: 100%;

							img{
								width: 100%;
							}
						}
					}

					div.rp{
						overflow: hidden;
						padding-left: var(--cl-primary-offset-size);
						flex: 1;

						div.mp__amount{
							display: flex;
							flex-direction: row;
							flex-wrap: nowrap;
							margin-bottom: 2px;

							div.flex-item-left{
								flex: 1;
		 						margin-right: var(--cl-primary-offset-size);
		 						font-size: 16px;
								line-height: 1.2;
								font-weight: 500;
								color: var(--cl-primary-text-color);

								s{
									color: var(--cl-danger-color);
								}
		 					}

		 					div.flex-item-right{
								color: var(--cl-secondary-text-color);
								font-size: 13px;

								@include media-breakpoint-down(xl) {
									font-size: 11px;
								}
							}
						}

						div.mp__text{
							font-size: 15px;
							color: var(--cl-secondary-text-color);

							@include media-breakpoint-down(xl) {
								font-size: 13px;
							}
						}

						div.mp__status{
							margin-top: 5px;

							span{
								text-transform: uppercase;
								padding: 3px 12px;
								font-size: 11px;
								border-radius: 5em;
							}

							&.mp__status_pending{
								span{
									border: 1px solid var(--cl-warning-color);
									background-color: var(--cl-warning-color);
									color: #000000;
								}
							}

							&.mp__status_declined{
								span{
									border: 1px solid var(--cl-danger-color);
									background-color: var(--cl-danger-color);
									color: #ffffff;
								}
							}
						}
					}

					&:hover, &:active{
						background: var(--cl-event-hover-bg);
					}
				}
			}
		}
	}
}

