body.cl-app-wallet_send{
	div.wallet-send{
		div.account-wallet__card{
			div.wallet-balance{
				div.wallet-balance__amount{
					padding-left: var(--cl-primary-offset-size);
					padding-right: 0px; 
				}
			}
		}

		div.wallet-send__form{
			form.form{
				div.recipients-search-input{
					span.input-spinner{
						right: auto;
						left: 0px;
					}
				}

				div.recipients-list{
					div.recipients-list__body{
						div.recipients-list{
							div.recipients-list__item{
								div.recipients-list__item-username{
									padding-left: 0px;
									padding-right: var(--cl-primary-offset-size);
								}
							}
						}
					}
				}
			}
		}
	}
}