body.cl-app-notifications{
	div.notifications{
		div.notifications-list{
			div.notifications-list__item{
				border-bottom: 1px solid var(--cl-primary-border-color);
				transition: all 0.27s ease-in-out;
				padding: var(--cl-primary-offset-size);
				border-bottom: 1px solid var(--cl-primary-border-color);

				div.notif-data{
					display: flex;
					flex-direction: row;
					flex-wrap: nowrap;
				}

				div.notif-controls{
					margin-top: 16px;
					display: flex;
					flex-direction: row;
					align-items: center;
					flex-wrap: nowrap;

					button{
						margin-right: 10px;
					}
				}

				div.notifications-list__item-avatar{
					width: var(--cl-primary-avatar-size);
					flex-shrink: 0;

					a{
						div.user-avatar{
							width: var(--cl-primary-avatar-size);
							height: var(--cl-primary-avatar-size);
							border-radius: 100%;
							overflow: hidden;

							img{
								width: 100%;
								height: 100%;
							}
						}
					}
				}

				div.notifications-list__item-data{
					flex: 1;
	 				padding-left: var(--cl-primary-offset-size);

	 				div.notifications-data{
	 					display: flex;
	 					flex-wrap: nowrap;
	 					align-items: center;
	 					div.notifications-data__body{
	 						flex: 1;
	 						margin-right: var(--cl-primary-offset-size);

		 					div.notifications-data__topline{
		 						line-height: 1;
		 						
								span.user-name-holder{
									font-size: 14px;
									color: var(--cl-primary-text-color);
									font-weight: 700;

									&.user-name-holder{
										&:hover,&:focus,&:active{
											color: var(--cl-primary-link-color);
										}
									}
								}

								span.notif-text{
		 							font-size: 14px;
		 							color: var(--cl-secondary-text-color);
		 							text-transform: lowercase;

		 							b{
		 								font-weight: 600;
		 							}
		 						}
		 					}

		 					a{
	 							text-decoration: none;
	 							display: block;
	 							color: inherit;
	 						}

		 					div.notifications-data__midline{
		 						line-height: 1;

		 						span.notif-time{
									font-size: 13px;
									text-transform: lowercase;
									color: var(--cl-secondary-text-color);
									font-weight: normal;
								} 
		 					}
	 					}

	 					div.notifications-data__ctrls{
	 						div.notif-ctrls{
	 							display: flex;
	 							flex-wrap: nowrap;

	 							div.notif-ctrls__delete{
	 								visibility: hidden;

	 								button.btn-custom-icon{
	 									background-color: var(--cl-secondary-bg-color);
	 									opacity: 0.7;

	 									&:hover, &:active{
	 										opacity: 1;
	 									}
	 								}
	 							}
	 						}
	 					}
	 				}
				}

				&:hover, &:active{
					div.notifications-list__item-data{
						div.notifications-data{
							div.notifications-data__ctrls{
								div.notif-ctrls{
									div.notif-ctrls__delete{
										visibility: visible;
									}
								}
							}
						}
					}
				}
			}
		}
	}
}