form{
	div.form-group{
		div.password-ctrl{
			button.password-ctrl{
				right: auto;
				left: 15px;
			}
		}

		div.vue-dropdown-select{
			button.dropdown-toggle{
				text-align: right;

				&::after{
					right: auto;
					left: 20px;
				}
			}
		}

		div.form-tos{
			div.form-check{
				label.form-check-label{
					margin-left: 0px;
					margin-right: var(--cl-primary-offset-size);
				}
			}
		}
	}
}