div.timeline-hashtags-container{
	div.timeline-hashtags-ls{
		div.hashtag-list-item{
			div.hashtag-data{
				div.hashtag-data__body{
					display: flex;
					flex-direction: row;
					align-items: center;

					span:last-child{
						margin-left: 0px;
						margin-right: 5px;
					}
				}
			}
		}
	}
}