div.timeline-searchbar{
	form.timeline-searchbar__form{
		div.keyword-input{
			span.keyword-input__left-icon{
				right: 0px;
				left: auto;
			}

			span.keyword-input__right-spinner{
				left: 0px;
				right: auto;
			}

			span.keyword-input__right-icon{
				left: 0px;
				right: auto;
			}
		}
	}
}