body[data-skin="default"]{

	// THEME PRIMARY COLORS
	
	$cl-primary-color: #067aff;
	$cl-primary-link-color: #009EFF;

	--cl-primary-color: #{$cl-primary-color};
	--plyr-color-main: #{$cl-primary-color};
	--cl-primary-color-darken-5: #{darken($cl-primary-color, 5)};
	--cl-primary-link-color: #{$cl-primary-link-color};
}