body[data-skin="purple"]{

	// THEME PRIMARY COLORS

	$cl-primary-color: #794bc4;
	$cl-primary-link-color: #794bc4;

	--cl-primary-color: #{$cl-primary-color};
	--plyr-color-main: #{$cl-primary-color};
	--cl-primary-color-darken-5: #{darken($cl-primary-color, 5)};
	--cl-primary-link-color: #{$cl-primary-link-color};

	button.btn-custom, div.btn-custom{
		&.main-inline{
			background-color: $cl-primary-color !important;
			border: $cl-primary-color !important;
			color: #ffffff !important;
		}
		
		&.main-outline{
			border-color: $cl-primary-color !important;
		}
	}
}